.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
nohup.out

.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.config/
.git-credentials
.gitconfig
.ipython/
.jupyter/
.local/
.profile
.ssh
.viminfo
# work for climate hub #
ports_flooding.ipynb
Disruptions.csv
Continent_List.csv
Climate_scenarios_climate_risk.csv
