.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
nohup.out

.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.config/
.git-credentials
.gitconfig
.ipython/
.jupyter/
.local/
.profile
.ssh
.viminfo

c_hub/
installed.txt

# files too large to commit
outputs/*forcing_sum.nc
